*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 10px;
}